extends layout/page

block scripts
    script(src= $assets.'js/main.js')

block content
    h1 I'm a Teapug MVC

    p Can i have a pug of tea please?

    p Start your adventure, go to App/RouteSetup.php
    p Visit our 
        a(href='https://github.com/OrangeeWeb/teapot') Github
        |  page for help
    
    //- To run php start line with -
    - Render::form('', 'PUT')
        
    - Render::formend()
        

    p Why Teaput? because 418
        

    